
.calendar-heading{
  height: 50px;
  font-size: 24px;
  font-weight: 800;
  line-height: 50px;
}

.wday-0{
  background-color: #FFEEFF;
}

.wday-6{
  background-color: #EEFFFF;
}

.simple-calendar td.today{
  border: solid 2px #FF9933;
}

.prev-month a{
  display: none;
}

.next-month a{
  display: none;
}

.send_schedule{
  font-size: 12px;
  font-weight: 800;
  color: #FF9933;
}

.confirm_schedule{
  font-size: 12px;
  font-weight: 800;
  color: #1e90ff;
}

.early_shift{
  font-size: 12px;
  font-weight: 800;
  color: #FF3333;
  display: inline;
  padding: 1px 0 0 2px;
  border: solid 2px;
  border-radius: 10px;
}

.day_shift{
  font-size: 12px;
  font-weight: 800;
  color: #33CC66;
  display: inline;
  padding: 1px 0 0 2px;
  border: solid 2px;
  border-radius: 10px;
}

.late_shift{
  font-size: 12px;
  font-weight: 800;
  color: #3333FF;
  display: inline;
  padding: 1px 0 0 3px;
  border: solid 2px;
  border-radius: 10px;
}

.all_shift{
  font-size: 12px;
  font-weight: 800;
  color: #FF99FF;
  display: inline;
  padding: 1px 0 0 3px;
  border: solid 2px;
  border-radius: 10px;
}